section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    padding: 5px;
    gap: 5px;
}


section .cabecalho{
    grid-column: 1/span 3;
    grid-row: 1/span 1;
    gap: 20px;
    background-color:white;
}

section .nav-item .nav-link {
    font-size:medium;
    font-style: normal;
    font-weight: bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}



section .img1{
    display: flex;
    flex-direction: column;
    grid-column: 1/span 3;
    grid-row: 3/span 1;
    text-align:center;
    background-color:rgb(255, 250, 227);
  

}

section .politicas{
    grid-column: 1/span 1;
    grid-row: 4/span 1;
    padding: 30px;
    
}
section .pagamento{
    grid-column: 2/span 1;
    grid-row: 4/span 1;
    text-align: center;
    padding: 20px;
}

section .redes_sociais {
    grid-column: 3/span 1;
    grid-row: 4/span 1;
    text-align: center;
    padding: 20px;
}